<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
    <ul>
        <li th:each="course : ${courses}" >
            <th:block th:text="${course.getName()}"></th:block>
            <br/>
            <th:block th:text="${course.getDescription()}"></th:block>

        </li>
    </ul>
</header>
<main>
    <form th:method="POST" th:action="@{/course}">
    <h2>Choose course:</h2>

    <div th:each="course : ${courses}">
        <input type="radio" name= "course" th:value="${course.getCourseId()}">
        <th:block th:text="${course.getName()}"></th:block><br/>
    </div>

    <br/>
    <input type="submit" th:value="Submit">
    </form>
</main>
</body>
</html>